<div class="header">
  <div class="a">Angular CRUD App</div>
  <div class="b">&copy; Created by Pranav Z</div>
</div>
<h1 class="cntr">CRUD App</h1>
<hr>
<div class="container cntr">
  <table>
    <tr>
      <th>Sr no</th>
      <th>Name</th>
      <th>Age</th>

    </tr>
    <tr *ngFor="let user of userarr">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" class="form-control" id="inptn" [(ngModel)]="user.name"></td>
      <td><input type="text" class="form-control" id="inpta" [(ngModel)]="user.age"></td>
      <td><button class="btn btn-primary btn-sm" (click)="addUser()">ADD</button></td>
    </tr>
  </table>
</div>